node_modules
package-lock.json
*.env
.vscode
/public/*
verification-logs
/utils/*.json
/utils/*.txt
test_logs
dbfiles
test.js
!LICENSE.md
logFlow*.json
.DS_Store
log_report*
/schema/logistics_api_json_schema/SchemaValidator_backup.js