node_modules
package-lock.json
*.env
.vscode
/public/logs/*.json
/public/test.json
verification-logs
/utils/*.json
/utils/*.txt
test_logs
dbfiles
test.js
!README.md
!LICENSE.md
*.md
logFlow*.json
log_report.json